@import './variables/variables';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    transition: all 0.3s ease;
}

.container {
    background-color: $clr-very-dark-blue;
    transition: all 0.3s ease;
    min-height: 100vh;
    //deleted
    padding-bottom: 50px;

    //
    header {
        height: 80px;
        background-color: $clr-dark-blue;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;


        .header-content {
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .header-title {
                color: #fff;
                transition: all 0.3s ease;
                user-select: none;
            }

            .theme-button {
                display: flex;
                align-items: center;
                gap: 7px;
                cursor: pointer;
                user-select: none;

                .moon-icon {
                    color: #fff;
                    font-size: 1.2rem;
                    font-weight: bolder;
                    transition: all 0.3s ease;
                }

                .sun-icon {
                    color: $clr-very-dark-blue;
                    display: none;
                    transition: all 0.3s ease;
                }

                .current-theme {
                    font-size: 1.1rem;
                    font-weight: 900;
                    color: #fff;
                    transition: all 0.3s ease;
                }
            }
        }


    }

    main {
        display: flex;
        justify-content: center;

        .main-content {
            width: 90%;

            .tools {
                display: flex;
                justify-content: space-between;
                margin-top: 40px;

                .search-area {
                    display: flex;
                    align-items: center;
                    background-color: $clr-dark-blue;
                    transition: all 0.3s ease;
                    width: 350px;
                    color: rgb(207, 206, 206);
                    padding: 12px;
                    border-radius: 5px;
                    user-select: none;

                    i {
                        margin-right: 12px;
                        font-size: 1.1rem;
                    }

                    form {
                        width: 100%;

                        input {
                            background-color: transparent;
                            transition: all 0.3s ease;
                            border: none;
                            height: 100%;
                            width: 100%;
                            outline: none;
                            color: rgb(207, 206, 206);
                            font-size: 1.1rem;

                            &::placeholder {
                                color: rgb(207, 206, 206);
                                transition: all 0.3s ease;
                                font-size: 1.1rem;
                            }
                        }
                    }

                }

                .region-filter {
                    background-color: $clr-dark-blue;
                    transition: all 0.3s ease;
                    padding: 12px;
                    border-radius: 5px;
                    cursor: pointer;
                    position: relative;
                    width: 185px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .option {
                        color: #fff;
                        transition: all 0.3s ease;
                        user-select: none;
                    }

                    i {
                        color: #fff;
                        transition: all 0.3s ease;
                        // margin-left: 30px;
                        font-size: 0.9rem;

                        &.rotate-180 {
                            transform: rotate(180deg);
                        }
                    }

                    .options-dropdown {
                        position: absolute;
                        z-index: 100;
                        display: none;
                        left: 0;
                        top: 110%;
                        background-color: $clr-dark-blue;
                        transition: all 0.3s ease;
                        padding: 12px;
                        border-radius: 5px;
                        cursor: pointer;
                        width: 100%;

                        ul {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;

                            li {
                                list-style-type: none;
                                position: relative;

                                &:hover {
                                    &::after {
                                        content: "";
                                        position: absolute;
                                        left: -5%;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        width: 5px;
                                        height: 5px;
                                        background-color: #fff;
                                        border-radius: 50%;
                                    }
                                }
                            }
                        }

                        &.show {
                            display: block;
                        }
                    }
                }
            }

            .cards {
                margin-top: 40px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                gap: 70px;

                .error-message {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #fff;
                    transition: all 0.3s ease;
                    font-family: 'Lobster Two', cursive;

                    img {
                        width: 500px;
                    }

                    h6 {
                        font-size: 2.5rem;
                        font-weight: 400;
                        letter-spacing: 3px;
                    }
                }


                .skeleton-card {
                    width: 270px;
                    height: 350px;
                    background-color: $clr-dark-blue;
                    transition: all 0.3s ease;
                    cursor: pointer;
                    border-radius: 3%;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

                    .image-skeleton {
                        height: 150px;
                        background-color: #747c83;
                        transition: all 0.3s ease;
                        border-top-left-radius: 3%;
                        border-top-right-radius: 3%;
                    }

                    .skeleton-text {
                        padding: 20px 20px 30px 20px;

                        .skeleton-name {
                            width: 150px;
                            height: 33px;
                            background-color: #747c83;
                            transition: all 0.3s ease;
                            border-radius: 4%;
                        }

                        .skeleton-detail {
                            margin-top: 15px;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            div {
                                height: 24px;
                                background-color: #747c83;
                                transition: all 0.3s ease;
                                border-radius: 4%;

                                &:first-child {
                                    width: 190px;
                                }

                                &:nth-child(2) {
                                    width: 130px;
                                }

                                &:nth-child(3) {
                                    width: 110px;
                                }
                            }

                        }
                    }

                    &:hover {
                        transform: scale(1.05);
                    }
                }

                .flip-card {
                    width: 270px;
                    height: 350px;
                    perspective: 1000px;
                    transition: all 0.3s ease;
                    cursor: pointer;

                    .flip-card-inner {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        transition: transform 0.6s;
                        transform-style: preserve-3d;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                        border-radius: 3%;

                        .flip-card-front {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            backface-visibility: hidden;
                            color: black;
                            border-radius: 3%;
                            background-color: $clr-dark-blue;
                            transition: all 0.3s ease;

                            .image-container {
                                height: 150px;

                                img {
                                    width: 100%;
                                    border-top-left-radius: 3%;
                                    border-top-right-radius: 3%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }


                            .card-text {
                                padding: 20px 20px 30px 20px;

                                .country-name {
                                    color: #fff;
                                    font-size: 1.5rem;
                                    font-weight: 900;
                                    transition: all 0.3s ease;
                                }

                                .country-detail {
                                    margin-top: 15px;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 10px;

                                    h6 {
                                        color: #fff;
                                        font-weight: 600;
                                        font-size: 1.1rem;
                                        transition: all 0.3s ease;


                                        span {
                                            color: rgb(207, 206, 206);
                                            font-size: 1rem;
                                            font-weight: 300;
                                            transition: all 0.3s ease;

                                        }
                                    }
                                }
                            }
                        }

                        .flip-card-back {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            backface-visibility: hidden;
                            color: white;
                            transform: rotateY(180deg);
                            border-radius: 3%;
                            background-size: cover;
                            padding: 25px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            font-family: 'Montserrat', sans-serif;

                            .top {
                                .location {
                                    font-size: 1.3rem;
                                    font-weight: 500;
                                    letter-spacing: 1px;
                                    display: flex;
                                    align-items: center;
                                    gap: 5px;

                                    i {
                                        font-size: 1.1rem;
                                    }
                                }
                            }

                            .bottom {
                                .icon {
                                    width: 115px;
                                    height: 115px;
                                    position: relative;
                                    top: 20px;
                                    left: -15px;

                                    img {
                                        width: 100%;
                                    }
                                }

                                .temperature {
                                    font-size: 3.7rem;
                                    font-weight: 700;
                                    letter-spacing: 3px;
                                }

                                .description {
                                    font-size: 1.3rem;
                                    font-weight: 600;
                                    letter-spacing: 2px;
                                    white-space: pre-line;
                                }
                            }

                            &.thunderstorm {
                                background-image: url('../images/thunderstorm.jpg');
                                background-position: bottom;
                            }

                            &.drizzle {
                                background-image: url('../images/drizzle.jpg');
                                background-position: top;
                            }

                            &.rain {
                                background-image: url('../images/rain.jpg');
                                background-position: bottom;
                            }

                            &.snow {
                                background-image: url('../images/snow.jpg');
                                background-position: left;
                            }

                            &.atmosphere {
                                background-image: url('../images/atmosphere.jpg');
                                background-position: bottom;

                                .location {
                                    color: rgb(202, 187, 187);
                                }
                            }

                            &.clear {
                                background-image: url('../images/clear.jpeg');
                                background-position: top;
                            }

                            &.clouds {
                                background-image: url('../images/clouds.jpg');
                                background-position: left;

                                .top {
                                    .location {
                                        color: $clr-very-dark-blue;
                                    }
                                }

                            }
                        }

                        &.clickedVersion {
                            transform: rotateY(180deg);
                        }
                    }

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }

    &.light-mode {
        background-color: $clr-very-light-gray;
        transition: all 0.3s ease;

        header {
            background-color: #fff;
            transition: all 0.3s ease;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            .header-title {
                color: $clr-very-dark-blue;
                transition: all 0.3s ease;
            }

            .theme-button {
                .moon-icon {
                    display: none;
                }

                .sun-icon {
                    display: block;
                    color: $clr-very-dark-blue;
                    transition: all 0.3s ease;
                }

                .current-theme {
                    color: $clr-very-dark-blue;
                    transition: all 0.3s ease;
                }
            }
        }

        main {
            .main-content {
                .tools {
                    .search-area {
                        background-color: #fff;

                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                        transition: all 0.3s ease;

                        i {
                            color: rgb(115, 113, 113);
                            transition: all 0.3s ease;
                        }

                        form {
                            input {
                                color: rgb(115, 113, 113);
                                transition: all 0.3s ease;

                                &::placeholder {
                                    color: rgb(124, 122, 122);
                                    transition: all 0.3s ease;
                                }
                            }
                        }
                    }

                    .region-filter {
                        background-color: #fff;
                        transition: all 0.3s ease;
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                        .option {
                            color: rgb(115, 113, 113);
                            transition: all 0.3s ease;
                        }

                        i {
                            color: rgb(115, 113, 113);
                            transition: all 0.3s ease;
                        }

                        .options-dropdown {
                            background-color: #fff;
                            transition: all 0.3s ease;


                            ul {
                                li {
                                    &:hover {
                                        &::after {
                                            background-color: rgb(115, 113, 113);
                                            transition: all 0.3s ease;

                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .cards {
                    .skeleton-card {
                        background-color: #fff;
                        transition: all 0.3s ease;
                        cursor: pointer;

                        .image-skeleton {
                            background-color: #b0b5b9;
                        }

                        .skeleton-text {
                            .skeleton-name {
                                background-color: #b0b5b9;
                            }

                            .skeleton-detail {
                                div {
                                    background-color: #b0b5b9;
                                }

                            }
                        }
                    }

                    .flip-card {
                        cursor: pointer;

                        .flip-card-inner {

                            .flip-card-front {
                                background-color: #fff;
                                // transition: all 0.3s ease;

                                .card-text {
                                    .country-name {
                                        color: $clr-very-dark-blue;
                                        transition: all 0.3s ease;
                                    }

                                    .country-detail {
                                        h6 {
                                            color: $clr-very-dark-blue;
                                            transition: all 0.3s ease;


                                            span {
                                                color: $clr-dark-blue;
                                                transition: all 0.3s ease;

                                            }
                                        }
                                    }
                                }
                            }
                        }



                    }

                    .error-message {
                        color: $clr-very-dark-blue;
                    }
                }
            }

        }
    }
}

@media(max-width:768px) {
    .container {
        main {
            .main-content {
                .tools {
                    .search-area {
                        width: 310px;
                    }
                }
            }
        }


    }
}

@media(max-width:576px) {
    .container {
        header {
            .header-content {
                .header-title {
                    font-size: 1.5rem;
                }

                .theme-button {
                    .current-theme {
                        display: none;
                    }

                    .sun-icon {
                        font-size: 2rem;
                    }

                    .moon-icon {
                        font-size: 2rem;
                    }
                }
            }
        }

        main {
            .main-content {
                .tools {
                    .search-area {
                        padding: 10px;
                        width: 190px;
                        white-space: inherit;

                        i {
                            margin-right: 8px;
                        }

                        form {
                            height: 100%;

                            input {

                                &::placeholder {
                                    &::before {
                                        content: "salam";
                                    }

                                    font-size: 0.9rem;
                                }

                                &::-webkit-input-placeholder {
                                    content: "Line 1\A Line 2\A Line 3\A";
                                }

                            }
                        }
                    }

                    .region-filter {
                        width: 130px;

                        .current {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }


    }
}